{% extends 'base.html' %}

{% block content %}
<!--NAV BAR-->
{% if user.is_authenticated %}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Project Name Here</a>

    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control search-size" type="search" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary btn-outline-secondary mr-sm-2" type="submit">Search</button>
            </div>
        </div>
    </form>
    <span>
        <button class="btn" type="button">Log In</button>
        <button class="btn btn-outline-secondary" type="button" href="{% url 'logout' %}">Log Out</button>
    </span>
</nav>


{% else %}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Project Name Here</a>

    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control search-size" type="search" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary mr-sm-2" type="submit" id="button-addon2">Search</button>
            </div>
        </div>
    </form>
    <span>
        <button class="btn" type="button" href="{% url 'login' %}">Log In</button>
        <button class="btn btn-outline-secondary" type="button" href="{% url 'register' %}">Register</button>
    </span>
</nav>
{% endif %}
<!--NAV BAR END-->


<div class="container">
    <!--<a class="back-button mt-3" href="/feed">Back</a>-->
    <div class="border bg-light rounded my-3">
        <center>
        <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center video-size mt-3">
            <iframe src="https://www.youtube.com/embed/tUqUdu0Sjyc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </center>

        <div class="row align-items-center my-3">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="mb-0 ml-3">{{video.title}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="mb-1.5 ml-3">{{video.teacher}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="mb-0 ml-3">
                            {% if 4 < video.stars and video.stars <= 5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            {% elif 3 < video.stars and video.stars <= 4 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                            {% elif 2 < video.stars and video.stars <= 3 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            {% elif 1 < video.stars and video.stars <= 2 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            {% else %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            {% endif %}
                            {{video.stars}} stars
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border bg-light rounded my-3">
        <div class="row">
            <div class="col-3 my-3">
                <div class="row ml-1 d-flex justify-content-center">
                    Video Rating
                </div>
                <br>
                <div class="row d-flex justify-content-center ml-1">
                    <div class="form-group">
                    <select class="form-control " id="FormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                </div>
                </div>
            </div>
            <div class="col-3 my-3">
                <div class="row d-flex justify-content-center">
                    Teacher Rating
                </div>
                <br>
                <div class="row d-flex justify-content-center">
                    <div class="form-group">
                    <select class="form-control" id="FormControlSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="form-group mr-3 mb-1">
                    <label for="exampleFormControlTextarea1">Your Review</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Start your review"></textarea>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn btn-success mb-3" type="button">Submit</div>
        </div>
    </div>


    <div class="row justify-content-md-center">
        <div class="col-md-auto d-flex justify-content-center rounded"><h2>Reviews</h2></div>
    </div>


        {% for review in reviews %}
    <div class="border bg-light rounded my-3">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2 class="mb-0 mt-3 ml-4">{{review.name}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="mb-2 ml-4">
                            {% if 4 < review.stars and review.stars <= 5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            {% elif 3 < review.stars and review.stars <= 4 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                            {% elif 2 < review.stars and review.stars <= 3 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            {% elif 1 < review.stars and review.stars <= 2 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            {% else %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            {% endif %}
                            {{review.stars}} stars
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="mb-3 ml-4">"{{review.response}}"</h3>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}