{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">yt-learn</a>
  <span>
    <a class="btn btn-outline-secondary" type="button" href="logout">
      Log Out
    </a>
  </span>
</nav>

{% else %}
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">Project Name Here</a>

  <form class="form-inline" action="/search" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input
        type="text"
        class="form-control search-size"
        type="search"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="button-addon2"
        name="search_query"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary mr-sm-2" type="submit">
          Search
        </button>
      </div>
    </div>
    <!--<button class="btn btn-outline-info my-2 my-sm-0" type="button">Filter</button>-->
  </form>
  <span>
    <a class="btn" type="button" href="login">Log In</a>
    <a class="btn btn-outline-secondary" type="button" href="register">
      Register
    </a>
  </span>
</nav>
{% endif %}
<!--NAV BAR END-->

<!--Hero image & search bar-->
<div class="row h-50 bg-info justify-content-center">
  <div class="col-md-6 d-flex align-items-end m-5">
    <form class="form-inline" action="/search" method="post">
      {% csrf_token %}
      <div class="input-group input-group-lg">
        <input
          type="text"
          class="form-control search-size"
          type="search"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="button-addon2"
          name="search_query"
        />
        <div class="input-group-append">
          <button
            class="btn btn-warning"
            id="inputGroup-sizing-lg"
            type="submit"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Recommended video cards-->
<div class="row p-5 justify-content-center">
  <div class="col-md-3">
    <div class="card" style="width: 18rem">
      <img src="test.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Video title</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Rating</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem">
      <img src="test.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Video title</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Rating</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem">
      <img src="test.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Video title</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Rating</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem">
      <img src="test.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Video title</h5>
        <p class="card-text">Video Description</p>
        <a href="#" class="btn btn-primary">Rating</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
