{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
    <form method="post">{% csrf_token %}
        {% for field in registration_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                     <p style="color: red;">{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}

        <button type="submit">Register</button>
    </form><br>
<a class="nav" href="{% url 'landing' %}">Back to home</a>

{% endblock content %}